.float{
    background-color: blanchedalmond;
    padding: 1rem;
    margin: 5rem 1rem;
    display: flow-root;
}

.left{
    background-color: rgb(173, 227, 93);
    float: left;
    width: 33.33%;
}

.right{
    background-color: rgb(112, 112, 214);
    float: left;
    width: 33.33%;
}

.bottom{
    background-color: red;
    float: left;
    width: 33.33%;
}