.table-container{
    padding: 1rem;
    background-image: url(assets/Images/pexels-athena-2962030.jpg);
    background-position: 20% 50%;
    overflow-x: auto;
}

table{
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
    color: rgba(255, 255, 255, 0.856);
    min-width: 600px;
    
}

th, td{
    border: 1px solid;
}