.bg{
    background-image: url("../Images/Colorful\ Business\ Plan\ Circular\ Concept\ Map.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.background{
    background: url(../Images/pexels-athena-2962030.jpg) no-repeat center fixed;
}

.linear{
    height: 90vh;
    background-image: repeating-linear-gradient(to right, red 10%, green 10%, pink 40%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.radial{
    height: 100vh;
    background-image: repeating-radial-gradient(circle, pink 10%, aqua 20%, rgb(151, 237, 151) 20%)
}

.conic{
    height: 100vh;
    width:100vh;
    background-image: repeating-conic-gradient(at 40% 60%, aqua 10%, rgb(229, 104, 104) 20%, rgb(110, 237, 110) 30%);
    border-radius: 50%;
}

.text{
    color: blue;
    text-shadow: 2px 2px 4px #000000;
}